export PATH="$HOME/tools/go/bin:$HOME/tools/local/usr/lib/postgresql/15/bin:$HOME/tools/local/usr/bin:$PATH"
export LD_LIBRARY_PATH="$HOME/tools/local/usr/lib/aarch64-linux-gnu"
export PGHOST=127.0.0.1
export PGPORT=55432
export PGUSER=dnsadmin
export PGDATABASE=dnszone
